.MainConatiner{
    padding: 30px 5%;
    background-color: #191919;
    padding-bottom: 100px;
}
.Grid{
    width: 30%;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    margin: 5px 4px !important;
}
.Grid img{
    height: 150px ;
}
.Grid button{
    padding: 3px 18px;
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    background-color: black;
    border-radius: 4px;
}
.DeveloperSec{
    text-align: center;
    padding: 0;
    margin: 0;
    padding: 30px 20px;
    background-color: #191919;
    padding-bottom: 100px;
}
.DeveloperSec h2{
    text-align: center;
    color: white;
}
.DeveloperSec img{
    height:150px;
    margin: 0px 20px
}