.mainSec{
    background-color: #191919;
    width: 100%;
    padding: 50px 15%;
}
.DeveloperSec{
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.DeveloperSec p{
    text-align: left;
}
.DeveloperImage{
    margin-bottom: 30px;
    height: 400px;
}
.DeveloperImage img{
    height: 100%;
    background-size: 100% 100%;
}