.main{
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url('../../images/home.jpg');
}
.mainHeadding{
    color: white;
    text-align: center;
    margin: 00 0 !important;
    padding: 200px 0;
}
